In [1]:
# Importing necessary libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

### Importing training and Testing dataset

In [2]:
#Importing training dataset
X=pd.read_csv("aps_failure_training_set.csv",na_values=["na"])

In [3]:
# Importing test dataset 
y=pd.read_csv("aps_failure_test_set.csv",na_values=["na"])

In [4]:
# Assigning label data
X_label=X['class']
y_label=y['class']

In [5]:
# Dropping the label  from main dataset
data_train=X.drop( 'class', axis=1)
data_test=y.drop( 'class', axis=1)

In [6]:
# Checking the training set
data_train.head()

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,76698,NaN,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,33058,NaN,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,41040,NaN,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,12,0.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,318.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,60874,NaN,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0

In [7]:
# Checking the testing data 
data_test.head()

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,60,0.0,20.0,12.0,0.0,0.0,0.0,0.0,0.0,2682.0,...,1098.0,138.0,412.0,654.0,78.0,88.0,0.0,0.0,0.0,0.0
1,82,0.0,68.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1068.0,276.0,1620.0,116.0,86.0,462.0,0.0,0.0,0.0,0.0
2,66002,2.0,212.0,112.0,0.0,0.0,0.0,0.0,0.0,199486.0,...,495076.0,380368.0,440134.0,269556.0,1315022.0,153680.0,516.0,0.0,0.0,0.0
3,59816,NaN,1010.0,936.0,0.0,0.0,0.0,0.0,0.0,0.0,...,540820.0,243270.0,483302.0,485332.0,431376.0,210074.0,281662.0,3232.0,0.0,0.0
4,1814,NaN,156.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7646.0,4144.0,18466.0,49782.0,3176.0,482.0,76.0,0.0,0.0,0.0

In [8]:
# Checking the shape of training dataset
print(data_train.shape)

(60000, 170)

In [9]:
# Checking the shape of testing dataset
print(data_test.shape)

(16000, 170)

In [12]:
# Checking different unique value in class 
X_label.unique() , y_label.unique()

(array(['neg', 'pos'], dtype=object), array(['neg', 'pos'], dtype=object))

In [13]:
#  Total # number of values 
X_label.value_counts()

neg    59000
pos     1000
Name: class, dtype: int64

In [14]:
y_label.value_counts()

neg    15625
pos      375
Name: class, dtype: int64

In [15]:
# Replaceing  train class value with 0 and 1
X_label = X_label.replace(regex='neg', value=1)
X_label = X_label.replace(regex='pos', value=0)

In [16]:
X_label.value_counts()

1    59000
0     1000
Name: class, dtype: int64

In [17]:
# Replaceing  train class value with 0 and 1
y_label = y_label.replace(regex='neg', value=1)
y_label = y_label.replace(regex='pos', value=0)

In [18]:
y_label.value_counts()

1    15625
0      375
Name: class, dtype: int64

### Missing Value Treatment for Training and Testing Data

In [19]:
#checking total missing values
data_train.isnull().sum().sum()

850015

In [20]:
# Checking missing values by collumn wises
missing_value_count=data_train.isnull().sum()
missing_value_count

aa_000        0
ab_000    46329
ac_000     3335
ad_000    14861
ae_000     2500
          ...
ee_007      671
ee_008      671
ee_009      671
ef_000     2724
eg_000     2723
Length: 170, dtype: int64

In [21]:
# Checking the missing in train data and sort them from higher to lower
def missing(df):
    print (round((df.isnull().sum() * 100/ len(df)),2).sort_values(ascending=False))
missing(data_train)

br_000    82.11
bq_000    81.20
bp_000    79.57
cr_000    77.22
bo_000    77.22
          ...
ci_000     0.56
cj_000     0.56
ck_000     0.56
bt_000     0.28
aa_000     0.00
Length: 170, dtype: float64

In [22]:
# Dropping the missing value columns  
def remove_nan(df, threshold):
    percentage_null = df.isnull().sum() / len(df)
    missing_features = percentage_null[percentage_null > threshold].index
    data=df.drop(missing_features, axis=1, inplace=True)
    return data

In [23]:
# Remove nan value over 35% threshold from train data 
remove_nan(data_train,.35)

In [24]:
# Checking the shape after remving nan values
data_train.shape

(60000, 160)

In [25]:
# Checking the missing in test data and sort them from higher to lower
missing(data_test)

br_000    82.06
bq_000    81.13
bp_000    79.51
bo_000    77.35
cr_000    77.27
          ...
ci_000     0.54
cj_000     0.54
ck_000     0.54
bt_000     0.18
aa_000     0.00
Length: 170, dtype: float64

In [26]:
# Remove nan value over 35% threshold from test data 
remove_nan(data_test,.35)

In [27]:
# Checking the shape after remving nan value
data_test.shape

(16000, 160)