In [1]:
# Importing necessary libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

### Importing training and Testing dataset

In [2]:
#Importing training dataset
X=pd.read_csv("aps_failure_training_set.csv",na_values=["na"])

In [3]:
# Importing test dataset 
y=pd.read_csv("aps_failure_test_set.csv",na_values=["na"])

In [4]:
# Assigning label data
y_train=X['class']
y_test=y['class']

In [5]:
# Dropping the label  from main dataset
data_train=X.drop( 'class', axis=1)
data_test=y.drop( 'class', axis=1)

In [6]:
# Checking the training set
data_train.head()

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,76698,NaN,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,33058,NaN,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,41040,NaN,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,12,0.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,318.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,60874,NaN,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0

In [7]:
# Checking the testing data 
data_test.head()

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,60,0.0,20.0,12.0,0.0,0.0,0.0,0.0,0.0,2682.0,...,1098.0,138.0,412.0,654.0,78.0,88.0,0.0,0.0,0.0,0.0
1,82,0.0,68.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1068.0,276.0,1620.0,116.0,86.0,462.0,0.0,0.0,0.0,0.0
2,66002,2.0,212.0,112.0,0.0,0.0,0.0,0.0,0.0,199486.0,...,495076.0,380368.0,440134.0,269556.0,1315022.0,153680.0,516.0,0.0,0.0,0.0
3,59816,NaN,1010.0,936.0,0.0,0.0,0.0,0.0,0.0,0.0,...,540820.0,243270.0,483302.0,485332.0,431376.0,210074.0,281662.0,3232.0,0.0,0.0
4,1814,NaN,156.0,140.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7646.0,4144.0,18466.0,49782.0,3176.0,482.0,76.0,0.0,0.0,0.0

In [8]:
# Checking the shape of training dataset
print(data_train.shape)

(60000, 170)

In [9]:
# Checking the shape of testing dataset
print(data_test.shape)

(16000, 170)

In [10]:
# Checking different unique value in class 
y_train.unique() , y_test.unique()

(array(['neg', 'pos'], dtype=object), array(['neg', 'pos'], dtype=object))

In [11]:
#  Total # number of values missing 
y_train.value_counts()

neg    59000
pos     1000
Name: class, dtype: int64

In [12]:
y_test.value_counts()

neg    15625
pos      375
Name: class, dtype: int64

In [13]:
# Replaceing  train class value with 0 and 1
y_train = y_train.replace(regex='neg', value=0)
y_train=y_train.replace(regex='pos', value=1)

In [14]:
y_train.value_counts()

0    59000
1     1000
Name: class, dtype: int64

In [15]:
# Replaceing  train class value with 0 and 1
y_test = y_test.replace(regex='neg', value=0)
y_test = y_test.replace(regex='pos', value=1)

In [16]:
y_test.value_counts()

0    15625
1      375
Name: class, dtype: int64

### Missing Value Treatment for Training and Testing Data

In [17]:
#checking total missing values
data_train.isnull().sum().sum()

850015

In [18]:
# Checking missing values by collumn wises
missing_value_count=data_train.isnull().sum()
missing_value_count

aa_000        0
ab_000    46329
ac_000     3335
ad_000    14861
ae_000     2500
          ...
ee_007      671
ee_008      671
ee_009      671
ef_000     2724
eg_000     2723
Length: 170, dtype: int64

In [19]:
# Checking the missing in train data and sort them from higher to lower
def missing(df):
    print (round((df.isnull().sum() * 100/ len(df)),2).sort_values(ascending=False))
missing(data_train)

br_000    82.11
bq_000    81.20
bp_000    79.57
cr_000    77.22
bo_000    77.22
          ...
ci_000     0.56
cj_000     0.56
ck_000     0.56
bt_000     0.28
aa_000     0.00
Length: 170, dtype: float64

In [20]:
# Dropping the missing value columns  
def remove_nan(df, threshold):
    percentage_null = df.isnull().sum() / len(df)
    missing_features = percentage_null[percentage_null > threshold].index
    data=df.drop(missing_features, axis=1, inplace=True)
    return data

In [21]:
# Remove nan value over 35% threshold from train data 
remove_nan(data_train,.35)

In [22]:
# Checking the shape after remving nan values
data_train.shape

(60000, 160)

In [23]:
# Checking the missing in test data and sort them from higher to lower
missing(data_test)

br_000    82.06
bq_000    81.13
bp_000    79.51
bo_000    77.35
cr_000    77.27
          ...
ci_000     0.54
cj_000     0.54
ck_000     0.54
bt_000     0.18
aa_000     0.00
Length: 170, dtype: float64

In [24]:
# Remove nan value over 35% threshold from test data 
remove_nan(data_test,.35)

In [25]:
# Checking the shape after remving nan value
data_test.shape

(16000, 160)

### Taking Care of Missing values

In [26]:
# Cleaning missing data Using sklearn library 
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(data_train)
data_train = pd.DataFrame(imputer.transform(data_train), columns=data_train.columns)
data_test = pd.DataFrame(imputer.transform(data_test),columns=data_test.columns)

In [27]:
# Checing the data 
data_train.head()

,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,ag_004,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,76698.0,2.130706e+09,280.000000,0.0,0.0,0.0,0.0,0.0,0.0,37250.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,33058.0,0.000000e+00,190620.639314,0.0,0.0,0.0,0.0,0.0,0.0,18254.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,41040.0,2.280000e+02,100.000000,0.0,0.0,0.0,0.0,0.0,0.0,1648.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,12.0,7.000000e+01,66.000000,0.0,10.0,0.0,0.0,0.0,318.0,2212.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,60874.0,1.368000e+03,458.000000,0.0,0.0,0.0,0.0,0.0,0.0,43752.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0

In [28]:
#checking total missing values training data 
data_train.isnull().sum().sum()

0

In [29]:
#checking total missing values testing data 
data_test.isnull().sum().sum()

0

### Feature Scaling

In [30]:
#Perform  Robust Scaling 
from sklearn.preprocessing import RobustScaler
sc=RobustScaler()
sc.fit(data_train)
X_train = pd.DataFrame(sc.transform(data_train), columns=data_train.columns)
X_test = pd.DataFrame(sc.transform(data_test),columns=data_test.columns)

In [31]:
X_train

,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,ag_004,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,0.960028,1.278935e+06,-0.000954,0.0,0.0,0.0,0.0,0.0,0.0,0.626095,...,2.261903,1.758646,1.072027,0.690437,0.846543,0.660686,0.495567,0.000000,0.0,0.0
1,0.047707,-1.128451e-01,22.700535,0.0,0.0,0.0,0.0,0.0,0.0,0.269677,...,0.410601,0.293677,0.141387,0.124491,0.119836,0.216936,0.671102,0.633981,0.0,0.0
2,0.214575,2.400960e-02,-0.022422,0.0,0.0,0.0,0.0,0.0,0.0,-0.041897,...,0.085095,0.208878,0.425724,0.538523,0.781440,0.661067,0.653456,0.217244,0.0,0.0
3,-0.643141,-7.082833e-02,-0.026477,0.0,10.0,0.0,0.0,0.0,318.0,-0.031315,...,-0.541267,-0.533391,-0.496640,-0.494413,-0.352762,-0.251793,-0.032250,0.000000,4.0,32.0
4,0.629218,7.082833e-01,0.020276,0.0,0.0,0.0,0.0,0.0,0.0,0.748091,...,0.864006,0.533995,0.385051,0.381192,0.661943,1.548024,3.095798,0.514793,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,2.555212,2.857143e-01,-0.012165,0.0,0.0,0.0,0.0,0.0,2564.0,1.036062,...,1.714911,2.100125,2.310785,2.578265,3.253356,3.894568,6.445384,12.082840,0.0,0.0
59996,-0.595601,1.278935e+06,-0.007633,0.0,0.0,0.0,0.0,0.0,0.0,-0.070867,...,-0.517902,-0.502198,-0.450801,-0.321938,-0.352317,-0.251793,-0.032250,0.000000,0.0,0.0
59997,-0.641050,1.278935e+06,-0.032202,0.0,0.0,0.0,0.0,0.0,0.0,-0.072293,...,-0.540020,-0.531811,-0.495782,-0.494161,-0.352281,-0.236646,-0.032250,0.000000,0.0,0.0
59998,1.035163,1.278935e+06,0.024569,0.0,0.0,0.0,0.0,0.0,0.0,-0.066627,...,1.038803,0.500841,0.259033,0.074822,0.334791,0.701782,5.750783,164.168216,0.0,0.0
59999,0.197475,3.061224e-01,0.040551,0.0,0.0,0.0,0.0,0.0,0.0,-0.049815,...,0.452788,0.317539,0.252871,0.146314,0.443382,0.662696,1.195920,0.066779,0.0,0.0

In [32]:
X_train.shape, X_test.shape

((60000, 160), (16000, 160))

In [33]:
X_test

,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,ag_004,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,-0.642137,-1.008403e-01,-0.032918,0.0,0.0,0.0,0.0,0.0,2682.0,0.016042,...,-0.539328,-0.532963,-0.495869,-0.492874,-0.352522,-0.251285,-0.032250,0.000000,0.0,0.0
1,-0.641677,-7.202881e-02,-0.029578,0.0,0.0,0.0,0.0,0.0,0.0,-0.058784,...,-0.539396,-0.532322,-0.493241,-0.494231,-0.352493,-0.249124,-0.032250,0.000000,0.0,0.0
2,0.736422,1.440576e-02,-0.020991,0.0,0.0,0.0,0.0,0.0,199486.0,25.417097,...,0.577117,1.233576,0.460845,0.185380,4.297448,0.635984,-0.028530,0.000000,0.0,0.0
3,0.607100,4.933974e-01,0.077285,0.0,0.0,0.0,0.0,0.0,0.0,2.252303,...,0.680503,0.596622,0.554766,0.729634,1.172656,0.961761,1.998040,1.366019,0.0,0.0
4,-0.605469,-1.920768e-02,-0.017652,0.0,0.0,0.0,0.0,0.0,0.0,-0.071467,...,-0.524529,-0.514351,-0.456589,-0.368958,-0.341566,-0.249009,-0.031702,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,1.067776,1.278935e+06,0.072038,0.0,0.0,0.0,0.0,0.0,0.0,0.030114,...,0.888068,0.735872,0.613624,0.448613,0.884324,1.584302,6.887841,10.805579,0.0,0.0
15996,-0.643015,-8.163265e-02,-0.028863,8.0,26.0,0.0,0.0,0.0,0.0,0.048089,...,-0.541208,-0.533400,-0.496666,-0.494489,-0.352790,-0.251793,-0.032250,0.000000,0.0,0.0
15997,1.021449,8.895558e-01,0.146699,0.0,0.0,0.0,0.0,0.0,0.0,0.209787,...,1.281720,1.556909,1.197745,0.972345,0.975057,1.035657,2.555035,8.262046,0.0,0.0
15998,-0.641092,-9.123649e-02,-0.030533,0.0,0.0,0.0,0.0,0.0,0.0,-0.069103,...,-0.540481,-0.532629,-0.496374,-0.493152,-0.349247,-0.244064,-0.031716,0.000000,0.0,0.0
15999,-0.643224,-1.092437e-01,-0.033872,2.0,2.0,0.0,0.0,0.0,0.0,-0.047489,...,-0.541706,-0.533558,-0.496661,-0.494489,-0.352649,-0.251527,-0.032250,0.000000,0.0,0.0

### Identify Bin Histogram

In [34]:
#Identify the bin and Count the Bin
from collections import Counter
Temp=[]

for item in X_train.columns:
    Temp.append(item.split('_')[0])
    counter=Counter(Temp)
feature_prefix=list(counter.keys())
print(feature_prefix)
number_bin=(list(counter.values()))
print(number_bin)

['aa', 'ac', 'ad', 'ae', 'af', 'ag', 'ah', 'ai', 'aj', 'ak', 'al', 'am', 'an', 'ao', 'ap', 'aq', 'ar', 'as', 'at', 'au', 'av', 'ax', 'ay', 'az', 'ba', 'bb', 'bc', 'bd', 'be', 'bf', 'bg', 'bh', 'bi', 'bj', 'bs', 'bt', 'bu', 'bv', 'bx', 'by', 'bz', 'ca', 'cb', 'cc', 'cd', 'ce', 'cf', 'cg', 'ch', 'ci', 'cj', 'ck', 'cl', 'cm', 'cn', 'co', 'cp', 'cq', 'cs', 'ct', 'cu', 'cv', 'cx', 'cy', 'cz', 'da', 'db', 'dc', 'dd', 'de', 'df', 'dg', 'dh', 'di', 'dj', 'dk', 'dl', 'dm', 'dn', 'do', 'dp', 'dq', 'dr', 'ds', 'dt', 'du', 'dv', 'dx', 'dy', 'dz', 'ea', 'eb', 'ec', 'ed', 'ee', 'ef', 'eg']
[1, 1, 1, 1, 1, 10, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 10, 10, 10, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 10, 1, 1, 1, 10, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 10, 1, 1]

In [35]:
## Identify Hitogram bin identifier
hist_identify=[]
for x,y in enumerate(number_bin):
    if y==10:
        hist_identify.append(feature_prefix[x])
print(hist_identify)

['ag', 'ay', 'az', 'ba', 'cn', 'cs', 'ee']

In [36]:
# Identify Histogram feature
Histogram_features=[z for z in X_train.columns if z.split('_')[0] in hist_identify]
print(Histogram_features)
print("The total number of feature", len(Histogram_features))

['ag_000', 'ag_001', 'ag_002', 'ag_003', 'ag_004', 'ag_005', 'ag_006', 'ag_007', 'ag_008', 'ag_009', 'ay_000', 'ay_001', 'ay_002', 'ay_003', 'ay_004', 'ay_005', 'ay_006', 'ay_007', 'ay_008', 'ay_009', 'az_000', 'az_001', 'az_002', 'az_003', 'az_004', 'az_005', 'az_006', 'az_007', 'az_008', 'az_009', 'ba_000', 'ba_001', 'ba_002', 'ba_003', 'ba_004', 'ba_005', 'ba_006', 'ba_007', 'ba_008', 'ba_009', 'cn_000', 'cn_001', 'cn_002', 'cn_003', 'cn_004', 'cn_005', 'cn_006', 'cn_007', 'cn_008', 'cn_009', 'cs_000', 'cs_001', 'cs_002', 'cs_003', 'cs_004', 'cs_005', 'cs_006', 'cs_007', 'cs_008', 'cs_009', 'ee_000', 'ee_001', 'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008', 'ee_009']
The total number of feature 70

### Feature Selection

In [37]:
##Import necessary libraries for best feature selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

In [38]:
# instantiate SelectKBest to determine 30 best features
best_features = SelectKBest(score_func=f_classif, k=30)
fit = best_features.fit(X_train,y_train)
df_scores = pd.DataFrame(fit.scores_)
df_columns = pd.DataFrame(X_train.columns)

In [39]:
# concatenate dataframes
feature_scores = pd.concat([df_columns, df_scores],axis=1)
feature_scores.columns = ['Feature_Name','Score']  # name output columns

In [40]:
print(feature_scores.nlargest(30,'Score'))  # print 30 best features

    Feature_Name         Score
85        ci_000  26096.024254
0         aa_000  24309.799345
71        bt_000  23999.561100
61        bb_000  23639.195653
73        bv_000  23466.518391
72        bu_000  23466.515381
102       cq_000  23466.513362
24        aq_000  22299.233111
69        bj_000  21630.556848
15        ah_000  21526.451985
21        an_000  21440.624608
79        cc_000  21384.694886
66        bg_000  21275.264053
22        ao_000  21037.428006
74        bx_000  20573.308458
23        ap_000  20501.308879
75        by_000  20004.473845
67        bh_000  18624.474264
153       ee_005  18530.975441
132       dn_000  18240.407962
55        ba_004  17740.835029
94        cn_004  17361.970230
87        ck_000  16495.676290
54        ba_003  16043.998570
56        ba_005  15354.572688
10        ag_005  15078.026151
150       ee_002  14733.355350
108       cs_005  14563.003866
52        ba_001  14214.497593
107       cs_004  14196.866239

In [41]:
# Creating dataframe with select feature
cols = best_features.get_support(indices=True)
X_train_selected_feature=X_train.iloc[:,cols]

In [42]:
X_train_selected_feature

,aa_000,ag_005,ah_000,an_000,ao_000,ap_000,aq_000,ba_001,ba_003,ba_004,...,cc_000,ci_000,ck_000,cn_004,cq_000,cs_004,cs_005,dn_000,ee_002,ee_005
0,0.960028,1.326098,0.952303,0.951460,0.743948,1.949792,2.480965,0.697203,0.603689,1.026015,...,1.045084,1.147112,1.220368,0.636027,1.117831,1.579176,1.336669,1.735314,2.261903,0.690437
1,0.047707,0.497525,0.234659,0.195980,0.173479,1.001590,0.407355,-0.008359,0.069564,0.165976,...,0.180707,0.142246,0.718098,0.529491,0.325969,0.846150,0.285186,0.696012,0.410601,0.124491
2,0.214575,0.197052,0.136015,0.135823,0.190833,-0.089094,-0.075696,0.267492,0.473754,0.426107,...,0.078246,0.152997,-0.031427,0.558818,0.073563,0.034045,0.240409,-0.027051,0.085095,0.538523
3,-0.643141,-0.193400,-0.626930,-0.616283,-0.617850,-0.492682,-0.474698,-0.556512,-0.550000,-0.516254,...,-0.605981,-0.636210,-0.457433,-0.435564,-0.614094,-0.434664,-0.599522,-0.523802,-0.541267,-0.494413
4,0.629218,1.893404,0.594419,0.409252,0.357060,0.964767,0.962615,0.713598,0.400015,0.389719,...,0.449828,0.575731,0.231659,1.609525,0.492611,0.438221,0.502732,1.104145,0.864006,0.381192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,2.555212,1.507158,2.395015,2.219029,2.365365,2.176776,1.551507,2.049624,2.440887,2.368965,...,2.025732,2.182287,2.348013,2.149630,2.192734,1.562711,2.234352,1.755848,1.714911,2.578265
59996,-0.595601,-0.091414,-0.593280,-0.580165,-0.580063,-0.474236,-0.446977,-0.482155,-0.515815,-0.501755,...,-0.571601,-0.594988,-0.444809,-0.385248,-0.581413,-0.427984,-0.582456,-0.493437,-0.517902,-0.321938
59997,-0.641050,-0.184515,-0.623141,-0.610069,-0.611799,-0.488221,-0.475064,-0.554186,-0.548441,-0.515817,...,-0.601800,-0.634379,-0.446453,-0.425301,-0.608357,-0.412761,-0.594914,-0.509603,-0.540020,-0.494161
59998,1.035163,0.018392,1.003538,0.827303,0.584416,1.740542,2.697683,0.697394,0.606052,0.675826,...,0.982804,0.987524,1.463634,0.186394,0.977669,1.387786,0.930751,2.352357,1.038803,0.074822
59999,0.197475,-0.147642,0.137079,0.177253,0.166766,0.290604,0.397738,0.038437,0.430592,0.581551,...,0.161741,0.206535,0.250826,-0.029930,0.178088,0.899930,0.394898,0.248849,0.452788,0.146314

In [43]:
X_test_top_feature=X_test.iloc[:,cols]

In [44]:
X_test_top_feature

,aa_000,ag_005,ah_000,an_000,ao_000,ap_000,aq_000,ba_001,ba_003,ba_004,...,cc_000,ci_000,ck_000,cn_004,cq_000,cs_004,cs_005,dn_000,ee_002,ee_005
0,-0.642137,-0.192730,-0.626119,-0.615859,-0.617131,-0.352842,-0.476120,-0.553781,-0.548883,-0.515648,...,-0.604510,-0.634925,-0.454994,-0.436205,-0.587454,-0.433592,-0.601649,-0.519870,-0.539328,-0.492874
1,-0.641677,-0.183450,-0.625334,-0.612147,-0.613888,-0.474701,-0.474029,-0.554775,-0.549301,-0.515767,...,-0.603477,-0.634479,-0.451467,-0.432260,-0.607538,-0.434627,-0.601032,-0.519433,-0.539396,-0.494231
2,0.736422,1.878315,0.543388,0.528755,0.608218,0.827868,0.271444,0.262504,0.357979,0.286693,...,0.461784,0.585662,0.223451,0.384407,0.584713,0.587291,0.864937,0.388073,0.577117,0.185380
3,0.607100,0.849352,0.469760,0.509924,0.519201,0.400474,0.629037,0.581774,0.518105,0.451833,...,0.472142,0.515225,0.637317,0.472308,0.469814,0.461940,0.583024,0.477709,0.680503,0.729634
4,-0.605469,-0.177782,-0.598239,-0.588591,-0.587100,-0.489665,-0.464042,-0.514458,-0.532120,-0.512824,...,-0.580187,-0.604859,-0.448177,-0.373903,-0.591149,-0.429489,-0.586958,-0.512661,-0.524529,-0.368958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,1.067776,0.551431,0.781559,0.828749,0.790441,0.847122,1.272511,1.081253,0.446391,0.396979,...,0.815334,0.879183,1.094023,0.712977,0.812372,2.019386,1.150452,0.938125,0.888068,0.448613
15996,-0.643015,-0.193319,-0.626266,-0.614859,-0.616100,-0.497611,-0.473852,-0.556308,-0.549920,-0.516374,...,-0.604687,-0.635804,-0.450812,-0.434561,-0.613718,-0.426140,-0.597853,-0.522637,-0.541208,-0.494489
15997,1.021449,1.919635,0.707325,0.833330,0.808657,1.215582,1.033131,0.944265,0.906095,0.984576,...,0.763715,0.959591,0.302598,1.522337,0.884970,0.661581,1.086823,0.955018,1.281720,0.972345
15998,-0.641092,-0.192871,-0.620659,-0.611239,-0.615629,-0.422752,-0.461251,-0.553565,-0.548514,-0.515439,...,-0.599384,-0.633411,-0.427214,-0.419586,-0.597107,-0.428473,-0.597706,-0.510331,-0.540481,-0.493152
15999,-0.643224,-0.193298,-0.627202,-0.615817,-0.617013,-0.500141,-0.477097,-0.556637,-0.550209,-0.515171,...,-0.606485,-0.636502,-0.459347,-0.436321,-0.615272,-0.437835,-0.601137,-0.528171,-0.541706,-0.494489

### Balancing the dataset

In [45]:
## Performing oversampling and importing the file
from imblearn.over_sampling import RandomOverSampler
from collections import Counter

In [46]:
## Performing oversampling
rs=RandomOverSampler(.75)
X_train_RS, y_train_RS=rs.fit_resample(X_train_selected_feature,y_train)
print("class before fit{}".format(Counter(y_train)))
print("class after fit{}".format(Counter(y_train_RS)))

class before fitCounter({0: 59000, 1: 1000})
class after fitCounter({0: 59000, 1: 44250})

## **************Building Xgboost model*********************

In [51]:
# Importing XGBclassifier library 
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train_RS,y_train_RS)

[10:17:02] WARNING: ..\src\learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [52]:
## Predicting base on test data
y_pred=classifier.predict(X_test_top_feature)

In [53]:
# Importing necessary libraries for Accuracy and classification report 
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
confusion_matrix=confusion_matrix(y_test,y_pred)
print("Confusion matrix: \t")
print(confusion_matrix)
confusion_matrix= pd.DataFrame(confusion_matrix.reshape((1,4)), columns=['TN', 'FP', 'FN', 'TP'])
tc = 10*confusion_matrix.FP + 500*confusion_matrix.FN
print(f'Total cost accrue: {float(tc.values[0])}')
print("The accuracy score:",accuracy_score(y_test,y_pred)*100)
print(classification_report(y_test,y_pred))

Confusion matrix:
[[15534    91]
 [   95   280]]
Total cost accrue: 48410.0
The accuracy score: 98.8375
              precision    recall  f1-score   support

           0       0.99      0.99      0.99     15625
           1       0.75      0.75      0.75       375

    accuracy                           0.99     16000
   macro avg       0.87      0.87      0.87     16000
weighted avg       0.99      0.99      0.99     16000

### Hypermeter Tuning For XGBClassifier

In [57]:
# Importing GridSearchCV library 
from sklearn.model_selection import GridSearchCV
parameters = {'nthread':[4], 
              'objective':['binary:logistic'],
              'learning_rate': [0.05], 
              'max_depth': [6],
              'min_child_weight': [11],
              'silent': [1],
              'subsample': [0.8],
              'colsample_bytree': [0.7],
              'n_estimators': [5], 
              'missing':[-999],
              'seed': [1337]}
Grid_search = GridSearchCV(classifier, parameters, n_jobs=5,cv=10, verbose=2, refit=True)
Grid_search = Grid_search.fit(X_train_RS,y_train_RS)

Fitting 10 folds for each of 1 candidates, totalling 10 fits
[10:33:01] WARNING: ..\src\learner.cc:573:
Parameters: { "silent" } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[10:33:02] WARNING: ..\src\learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [58]:
print(" The best parameter:",Grid_search.best_params_)

 The best parameter: {'colsample_bytree': 0.7, 'learning_rate': 0.05, 'max_depth': 6, 'min_child_weight': 11, 'missing': -999, 'n_estimators': 5, 'nthread': 4, 'objective': 'binary:logistic', 'seed': 1337, 'silent': 1, 'subsample': 0.8}

In [59]:
print(" The best accuracy:",Grid_search.best_score_)

 The best accuracy: 0.9656949152542375

### Predicting the Test set results

In [60]:
y_pred=Grid_search.predict(X_test_top_feature)

In [61]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
confusion_matrix=confusion_matrix(y_test,y_pred)
print("Confusion matrix: \t")
print(confusion_matrix)
confusion_matrix= pd.DataFrame(confusion_matrix.reshape((1,4)), columns=['TN', 'FP', 'FN', 'TP'])
tc = 10*confusion_matrix.FP + 500*confusion_matrix.FN
print(f'Total cost accrue: {float(tc.values[0])}')
print("The accuracy score:",accuracy_score(y_test,y_pred)*100)
print(classification_report(y_test,y_pred))

Confusion matrix:
[[15028   597]
 [   19   356]]
Total cost accrue: 15470.0
The accuracy score: 96.15
              precision    recall  f1-score   support

           0       1.00      0.96      0.98     15625
           1       0.37      0.95      0.54       375

    accuracy                           0.96     16000
   macro avg       0.69      0.96      0.76     16000
weighted avg       0.98      0.96      0.97     16000